<div class="login-page" *ngIf="!signup">
  <div class="form">
    <div>
      <i (click)="cancel()" class="fa fa-window-close fa-2x float-right exit-btton" aria-hidden="true"></i>
    </div>
    <div class="form-inner">
      <form 
      #loginForm="ngForm" 
      class="login-form"
      (ngSubmit)="login()"
      >
        <input 
        type="text" 
        placeholder="Username" 
        name="username"
        required
        [(ngModel)]="model.username"
        />
        <input 
        type="password" 
        placeholder="Password" 
        name="password"
        required
        [(ngModel)]="model.password"
        />
        <button [disabled]="!loginForm.valid" type="submit">login</button>
        <p class="message">Not registered? 
          <a class="small-link" (click)="this.signup = true">Create an account</a>
        </p>
      </form>
      </div>
  </div>
</div>

<app-register (totalCancelEmit)="cancel()" (cancelRegister)="signup = false" *ngIf="signup"></app-register>
