<nav class="navbar dark-grey navbar-expand-lg">
  <div class="row justify-content-center">
    <div class="col-lg-5 align-self-center projectdesk">
      <ul class="navbar-nav ">
        <li class="nav-item light-orange">
          <a 
          class="nav-link"
          [routerLink]="['/createnew']"
          routerLinkActive="active"    
          >Add Project</a>
        </li>
        <li class="nav-item">
          <div class="nav-link"><a
            [routerLink]="['/suggestions']"
            routerLinkActive="active"      
            >Suggestion?</a></div>
        </li>
      </ul>
    </div>
    <div class="col-lg-1 brandcontainer">
      <a 
      class="navbar-brand" 
      [routerLink]="['/']"
      routerLinkActive="active"
      ><img src="assets/img/logo.png" class="img-fluid d-block mx-auto"
          alt="Logo"></a>
      <button class="navbar-toggler hamburger hamburger--spring" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger-box"><span
            class="hamburger-inner hamburger--spin"></span></span>
      </button>
    </div>

    <div class="col-lg-5 align-self-center">
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="nav-link"><a
              [routerLink]="['/browse']"
              routerLinkActive="active"  
              >Browse</a></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><a
              [routerLink]="['/guide']"
              routerLinkActive="active"  
              >Guide</a></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><a
              [routerLink]="['/about']"
              routerLinkActive="active"  
              >About</a></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><a
              [routerLink]="['/contact']"
              routerLinkActive="active"  
              >Contact</a></div>
          </li>
          <li class="nav-item light-green align-self-center">
            <a *ngIf="!this.auth.loggedIn()" class="nav-link" (click)="loginP()">Log in</a>
            <a 
            *ngIf="this.auth.loggedIn()" 
            class="nav-link"
            [routerLink]="['/profile']"
            routerLinkActive="active"
            >
            Welcome 
            {{this.user.username}}</a>
          </li>
          <li class="nav-item light-orange align-self-center projectmobile">
            <a class="nav-link" href="addProject.html">Add Project</a>
          </li>
          <li class="nav-item projectmobile">
            <a class="nav-link" href="#">Suggestion?</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
