<div class="container-fluid col-sm-8 bg-addpj">
  <div class="text-center">
    <br>
    <h1>Create a Project:</h1>
    <div reps="5"><br class="d-none d-md-none d-lg-block d-xl-block"></div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="subject">Title of Project:</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="pwd">Category:</label>
          <input type="text" class="form-control" id="category">
        </div>
        <div class="form-group">
          <label for="subject">Name of Creator</label>
          <input type="text" class="form-control" id="creator">
        </div>
        <div class="form-group">
          <label for="pwd">Description</label>
          <input type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
          <label for="subject">Team Size:</label>
          <input type="text" class="form-control" id="tsize">
        </div>
        <div class="form-group">
          <label for="pwd">Contract Length:</label>
          <input type="text" class="form-control" id="contractlen">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="mybtn-dgreen dark-green" onmouseup="searchSimilar()">Search Similar</button>
    </div>
    <div class="col">
      <button class="mybtn-lorange light-orange float-right" onmouseup="postProject()">Create Project!</button>
    </div>

</div>
